html {
    --color: rgb(237,92,119);
    font-size: 10px;
}

.container {
    background-color: #444c53;
    width: 100vw;
}

.form1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 200px;
    justify-content: center;

}

input {
    border: 0;
    padding: 5px;
}

.tooltip {
    background-color: var(--color);
    border-radius: 50%;
    color: #ffffff;
    margin-left: 5px;
    padding: 7px 10px 7px 10px;
    position: relative;
}

.tooltip::before, 
.tooltip::after {
    --arrow-size: .8rem;
    --scale: 0;
    left: 50%;
    position: absolute;
    top: -.25rem;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transform-origin: bottom center;
    transition: 50ms transform;
    width: max-content;
}

.tooltip::before {
    --translate-y: calc(-100% - var(--arrow-size));
    background: var(--color);
    border-radius: .5rem;
    color: #fff;
    content: attr(data-tooltip);
    padding: .5rem;
    text-align: center;
}

.tooltip:hover::before,
.tooltip:hover::after {
    --scale: 1;
}

.tooltip::after {
--translate-y: calc(-1 * var(--arrow-size));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--color);
    transform-origin: top center;
}